@model WebInviteOpdracht.Models.GuestResponse

@{  
    ViewBag.Title = "Edit Data";
}

<div class="panel panel-primary col-lg-6 col-lg-offset-3
                                col-md-8 col-md-offset-2
                                col-sm-10 col-sm-offset-1
                                col-xs-12">
    <div class="panel-heading text-center">
         <h4>Edit Data</h4>
        @if (ViewBag.EditSuccess == true) {
            <p>Date saved</p>
        } else if (ViewBag.EditSuccess == false) {
            <p>Date not saved</p>
        } 
    </div>
    
    <div class="panel-body">
        <p class="text-info">Use this form to edit your submitted data</p>
        @using (Html.BeginForm("SaveData", "Home", FormMethod.Post, null)) {
            @Html.ValidationSummary()
            <div class="form-group"><label>Your name: </label>@Html.TextBoxFor(x => x.Name, new { @class = "form-control" }) </div>
            <div class="form-group"><label>Your email: </label>@Html.TextBoxFor(x => x.Email, new { @readonly = "readonly", @class = "form-control"}) </div>
            <div class="form-group"><label>Your phone: </label>@Html.TextBoxFor(x => x.Phone, new { @class = "form-control" }) </div>
            <div class="form-group">
                <label>Will you attend?</label>
                @Html.DropDownListFor(x => x.WillAttend, new[] {
                        new SelectListItem() {Text = "Yes, I'll be there", Value = bool.TrueString },
                        new SelectListItem() {Text = "No, I can't come", Value = bool.FalseString }
                    }, "Choose an option", new { @class = "form-control" })
            </div>
            <div id="custom-button">
                <input class="btn btn-success" type="submit" value="Save data" />
                <button type="button" class="btn btn-primary">
                    @Html.ActionLink("Home", "Index")
                </button>
            </div>
        }
    </div>
</div>
