@model WebInviteOpdracht.Models.GuestResponse[]

@{
    ViewBag.Title = "Responses";
}

<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2
            col-sm-10 col-sm-offset-1 col-xs-12 text-center">
    <h2>Responses</h2>
    <div>
        <table class="table table-hover" cellpadding="0" cellspacing="0" border="0">
            <thead><tr><th>Name</th><th>Attends</th><th>E-mail</th></tr></thead>
            <tbody>
                @foreach (WebInviteOpdracht.Models.GuestResponse g in Model) {
                    <tr class="@(g.WillAttend == true ? "success" : "warning" )">
                        <td>@g.Name</td>
                        <td>@(g.WillAttend == true ? "Yes" : "No" ) </td>
                        <td>@g.Email</td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-primary">
            @Html.ActionLink("Home", "Index")
        </button>
    </div>
</div>

